---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
---

<html lang="en">
	<head>
		<MainHead title="Not Found" />
	</head>
	<body>
		<nav />
		 <div>
            <div class="starsec-NF"></div>
            <div class="starthird-NF"></div>
            <div class="starfourth-NF"></div>
            <div class="starfifth-NF"></div>


            <div class="error__content-NF"> 
                <div class="error__message message-NF">
                <h1 class="message__title-NF">Page Not Found</h1><br><br>
                <p class="message__text-NF">Sorry! This page hasn't been created yet. Navigate back to home page for more!</p>
                </div>
                <div class="error__nav-NF e-nav-NF">
                    <a href="/"  class="e-nav__link-NF"></a>
                </div>
            </div>
        </div>
	</body>
</html>


