---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
import Button from '../components/Button/index.jsx';

---

<html lang="en">
	<head>
		<MainHead title="About | Taiming Shi" description="About Taiming Shi" />
		<style lang="scss">
			.heroImg {
				max-height: 50rem;
				object-fit: none;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
				}
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Me!</h1>
			<div style=" justify-content: center">
				<img src="https://imgur.com/FrBbZsL.jpg" style = " max-height:40rem; width: 100%; height: 40%; object-fit: cover;"/>
				<p style="display: flex; justify-content: center">
					Griffith Park, Los Angeles | Dec 20, 2022
				</p>
			</div>
			<div class="bio wrapper wrapper__readable mt8">
				<p >
				<b style="font-size: 30px;">Education</b> <hr>
				<b>Johns Hopkins University </b> | Baltimore, MD <br>
				Bachelor of Science in Computer Science, Applied Mathematics and Statistics <br>
				Minor: Entrepreneurship & Management <br>
				<b>GPA: </b> 3.92/4.0, Dean’s List <br>
				CS Courses: Data Structures, Algorithms, Computer System Fundamentals, Full Stack JavaScript, Object Oriented Software Engineering, Artificial Intelligence <br>
				Math Courses: Calculus, Linear Algebra, Differential Equations, Discrete Mathematics, Probability, Statistics, Optimization, Quantitative Finance <br><br>

				<b style="font-size: 30px;">Skills</b> <hr>
				<b>Programming Languages: </b>  Java, Python, JavaScript, Typescript, Golang, C/C++,, SQL, HTML/CSS <br>
				<b>Tools and Frameworks: </b> MongoDB, Express.js, React, Redux, Node.js, CSS, HTML, GraphQL Git, AWS (Amplify, S3, DynamoDB, AppSync), MySQL, PostgreSQL <br><br>


				<b style="font-size: 30px;">Internships</b> <hr>
				<b>Software Engineering Intern, <a href="https://www.proofpoint.com/us" style="text-decoration: none;" target="_blank">Proofpoint</a> </b> | Sunnyvale, CA  <span style="float:right">June 2023 - Present</span><br>
				<ul style="text-justify: distribute-all-lines;">
				<li style="padding-left: 15px;">Spearheading development of new company-wide self-service portal to automate manual workflows on Rundeck, Curity, and Grafana managed by the Shared Services Team, leveraging <b>  TypeScript, React, and Redux</b></li> 
				<li style="padding-left: 15px;">Building backend APIs for creating and managing Dynamic Client Registration (DCR) clients to facilitate OAuth 2.0 (AuthZ) and OpenID Connect (AuthN) with <b> Java, DynamoDB, and GraphQL</b>  </li>
				</ul>
				<b>Software Engineer Intern, <a href="https://www.sokat.com/" style="text-decoration: none;" target="_blank">SoKat Consulting</a> </b> | Baltimore, MD  <span style="float:right">June 2023 - July 2023</span><br>
				<ul style="text-justify: distribute-all-lines;">
				<li style="padding-left: 15px;">Created frontend dashboard that displays real-time Summary, Earnings Call, Valuation, M&A, Patent, News Data for 500+ companies using <b>React, Material-UI, Chart.js </b></li> 
				<li style="padding-left: 15px;">Utilized <b>Microsoft Azure Functions, Deepgram, OpenAI</b> to create <b>serverless APIs</b> and <b>time triggers</b> that analyze company earnings calls, generate analysis reports, and automatically flush hourly stock data to <b>MongoDB</b> and files to <b>Azure Blob Storage</b>, using <b>Python, JavaScript</b>  </li>
				<li style="padding-left: 15px;">  <a href="https://jarvis-sokat.azurewebsites.net/" style="text-decoration: none;" target="_blank">Link to project</a> that I contributed to</li>
					
			</ul>

				<b>Software Developer Intern, <a href="https://attainpartners.com/" style="text-decoration: none;" target="_blank">Attain Partners</a> </b> | McLean, VA  <span style="float:right">June 2022 - July 2022</span><br>
				<ul style="text-justify: distribute-all-lines;">
				<li style="padding-left: 15px;"><b>Led</b> team of 3 interns and created an efficient, maintainable, and configurable software tool for consultants that
					automated the encryption process of sensitive client information in large CSV and 60+ page Excel financial reports using <b>Python</b></li> 
				<li style="padding-left: 15px;">Improved efficiency and accuracy for consultant team by minimizing manual anonymization task duration <b>multiple days
					to within 5 minutes</b>  </li>
				<li style="padding-left: 15px;"> Collaborated with internal Innovations Team and facilitated creation of decision tree machine learning model using
					MLB data that determines when to send a runner on third in the event of a sacrifice fly opportunity</li>
					<li style="padding-left: 15px;"> Provided results to Baltimore Orioles with visualizations and analytics to help team make better game-time decisions</li>
				</ul>

				<b>Growth and Product Intern, <a href="https://lobby.game/" style="text-decoration: none;" target="_blank">Lobby</a> </b> | Menlo Park, CA  <span style="float:right">June 2021 - July 2021</span><br>
				<ul style="text-justify: distribute-all-lines;">
				<li style="padding-left: 15px;">Designed TikTok ads to promote product, produced lowest CPA (cost per action) among growth team and generated
					<b>2000+</b> downloads for the social media app startup</li> 
				<li style="padding-left: 15px;">Interpreted automatic user report history data for in-app screening rules and provided recommendations to optimize
					regulation system, minimize bad behavior, and maintain a healthy online environment for users </li>
				<li style="padding-left: 15px;"> Filtered through feedback from users and outlined new product features, helped generate “Lobby Championship” and
					“Report User” features</li>
				</ul>

				<b style="font-size: 30px;">Projects</b> <hr>
				<b>Team Lead, <a href="https://doit-oose.herokuapp.com/" style="text-decoration: none;" target="_blank">DoIT</a> </b>  <span style="float:right">Sep 2022 - Present</span><br>
				<ul style="text-justify: distribute-all-lines;">
				<li style="padding-left: 15px;">Led team of 6 to develop a productivity web application that introduces a group incentivization mechanism for users
					to complete tasks on time utilizing  <b>MongoDB, Express.js, React, and Node</b></li> 
				<li style="padding-left: 15px;">Assigned weekly <b>GitHub issues</b>  to team members, planned and managed iteration progress with GitHub project
					board, and reviewed <b>pull requests</b></li>
				<li style="padding-left: 15px;"> Integrated <b>Google and Facebook login authentication</b>  as well as <b>GetStream chat API</b> </li>
				<li style="padding-left: 15px;"> Setup <b>Mongoose Schemas</b> and developed all <b>backend RESTful APIs</b> that handle creating and modifying accounts,
					groups, and tasks as well as fetching relevant data from database</li>
				<li style="padding-left: 15px;"> Read more about DoIT <a href="/project/do-it" style="text-decoration: none;">here on my website</a></li>
				</ul>

				<b>Full Stack Developer, <a href="https://www.trysplit.it/" style="text-decoration: none;" target="_blank">Split.it</a> </b>  <span style="float:right">June 2022 - Present</span><br>
				<ul style="text-justify: distribute-all-lines;">
				<li style="padding-left: 15px;"><b>Launched website for startup</b> that enables users who use ride-sharing apps to easily find people to split the fare with, which <b>serviced 250+ users and 75+ successful rides events</b></li> 
				<li style="padding-left: 15px;">Implemented frontend that allows users to customize date, time, pickup location, destination, ride capacity, and notes
					when creating a new ride-sharing event or joining existing events using <b> React</b> </li>
				<li style="padding-left: 15px;"> Created and integrated frontend and backend for reporting users for bad behavior using <b>MongoDB, Express.js</b></li>
				<li style="padding-left: 15px;"> Read more about Split.it <a href="/project/cost-pooling" style="text-decoration: none;">here on my website</a></li>
				</ul>

				<b> <a href="https://main.d1u61r3at08s3y.amplifyapp.com/" style="text-decoration: none;">Online Photo Album</a> </b>  <span style="float:right">June 2022 - Present</span><br>
				<ul style="text-justify: distribute-all-lines;">
				<li style="padding-left: 15px;">Built notes application for users to store and share photo memories securely, deployed on <b>AWS Amplify CDN</b> </li> 
				<li style="padding-left: 15px;">Setup <b>full stack CI/CD </b> and integrated user email authentication using <b>React, Amplify CLI, and Amazon Cognito</b>  </li>
				<li style="padding-left: 15px;">Added <b> scalable GraphQL APIs</b> using AWS AppSync backed by <b>DynamoDB</b> to create and modify memories</li>
				<li style="padding-left: 15px;"> Utilized <b> Amazon S3</b> to store files and images associated with each memory </li>
				</ul>

				<b> Ackoji’s Plugin for Microsoft Outlook, <a href="https://docs.google.com/presentation/d/1pmsNkhrTbOCHQKnxvb3Zg9FRLeldDQIQ8R8qmV-e1t4/edit?usp=sharing " style="text-decoration: none;" target="_blank"> view presentation here</a> </b>  <span style="float:right">June 2022 - Present</span><br>
				<ul style="text-justify: distribute-all-lines;">
				<li style="padding-left: 15px;">Partnered with team of 3 to deliver a Microsoft Outlook plugin that helps users automatically identify emails that need
					attention and filter out generic “unimportant” replies</li> 
				<li style="padding-left: 15px;">Built core <b> Python classifying engine</b> using a hybrid between rule-based algorithms and <b>NLP modules</b>  </li>
				<li style="padding-left: 15px;">Achieved <b>93% classifying accuracy </b> tested on Enron email dataset</li>
				</ul>

				<a href="/projects">
					View more projects 
				</a>
				</p>
				
			</div>
		</div>
		<Footer />
	</body>
</html>
